<form id="modal-form" action="/inventory/dropdowns/place/add" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel modal-content">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="$('#modal-backdrop').removeClass(); $('.modal').removeClass('show');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Lugar</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Lugar <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="place" type="text" name="place" class="form-control" placeholder="lugar" required>
				</div>
				<div class="col-sm-9">
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>