<form id="modal-form-filter" action="/accounting/details/filter/{{tab}}" method="POST"
	class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="closeModalFilter(); $('select.multiselect option').removeAttr('selected'); $('.specificDates, .betweenDates').css('display', 'block');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Flitrar</span></h2>
		</header>
		<div class="panel-body">
			<div class="form-group mr-none ml-none mb-none betweenDates">
				<div class="form-group">
					<label class="col-sm-3 control-label">Fecha inicio</label>
					<div class="col-sm-9">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-calendar-alt"></i>
							</span>
							<input id="startDateFilter" type="text" name="startDateFilter" data-plugin-datepicker
								data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____"
								data-plugin-options='{"format": "dd/mm/yyyy"}' data-plugin-skin="primary"
								class="form-control" value="{{globalFilterArray.startDate}}">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Fecha final</label>
					<div class="col-sm-9">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-calendar-alt"></i>
							</span>
							<input id="endDateFilter" type="text" name="endDateFilter" data-plugin-datepicker
								data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____"
								data-plugin-options='{"format": "dd/mm/yyyy"}' data-plugin-skin="primary"
								class="form-control" value="{{globalFilterArray.endDate}}">
						</div>
					</div>
				</div>
				<div class="form-group"></div>
				<!-- Necesario porque segun en el tema css el ultimo del form-group no tiene margen inferior -->
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default"
						onclick="$('select.multiselect').multiselect('deselectAll', false).multiselect('refresh');$('select.multiselect option').removeAttr('selected');  $('.specificDates, .betweenDates').css('display', 'block');">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>