<form id="modal-form" action="/accounting/cashflow/add/{{tab}}" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times" onclick="closeModal()"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Movimiento</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Categoría <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="category" class="form-control multiselect" name="category"
						onchange="doCategoryChange(this.value)" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						{{#each category}}
						<option value="{{category}}">{{category}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Concepto <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="concept" class="form-control multiselect" name="concept"
						onchange="doConceptChange(this.value)" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option class="DefaultClass"> </option>
						{{#each concept}}
						<option class="{{className category}}Concept" value="{{concept}}" style="display: none;">
							{{concept}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="date" type="text" name="date" data-plugin-datepicker data-plugin-masked-input
							data-plugin-skin="primary" data-input-mask="99/99/9999" placeholder="__/__/____"
							class="form-control" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Importe <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="amount" type="number" step="0.01" name="amount" class="form-control" placeholder=""
							required>
						<span class="input-group-addon">
							<span class="icon">€</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group mr-none ml-none mb-none generalWageClass" style="display: none;">
				<div class="form-group">
					<label class="col-sm-3 control-label">IRPF</label>
					<div class="col-sm-9">
						<div class="input-group input-group-icon">
							<input id="irpf" type="number" step="0.01" name="irpf" class="form-control" placeholder="">
							<span class="input-group-addon">
								<span class="icon">%</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Importe bruto</label>
					<div class="col-sm-9">
						<div class="input-group input-group-icon">
							<input id="grossAmount" type="number" step="0.01" name="grossAmount" class="form-control"
								placeholder="">
							<span class="input-group-addon">
								<span class="icon">€</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group"></div>
				<!-- Necesario porque segun en el tema css el ultimo del form-group no tiene margen inferior -->
			</div>
			<div class="form-group mr-none ml-none mb-none homeClass" style="display: none;">
				<div class="form-group">
					<label class="col-sm-3 control-label">Vivienda <span class="required">*</span></label>
					<div class="col-sm-9">
						<select id="home" class="form-control multiselect" name="home" data-plugin-multiselect disabled required>
							<option></option>
							{{#each home}}
							<option value="{{address}}" {{#if_eq inOwnership 'true'}} {{else}} disabled{{/if_eq}}>
								{{address}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<div class="form-group homeWaterClass" style="display: none;">
					<label class="col-sm-3 control-label">Consumo agua (m<sup>3</sup>)</label>
					<div class="col-sm-9">
						<div class="input-group input-group-icon">
							<input id="homeWaterConsumtion" type="number" step="1" name="homeWaterConsumtion"
								class="form-control" placeholder="">
							<span class="input-group-addon">
								<span class="icon">m<sup>3</sup></span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group homeLightClass" style="display: none;">
					<label class="col-sm-3 control-label">Consumo luz (kWh)</label>
					<div class="col-sm-9">
						<div class="input-group input-group-icon">
							<input id="homeLightConsumtion" type="number" step="1" name="homeLightConsumtion"
								class="form-control" placeholder="">
							<span class="input-group-addon">
								<span class="icon">kWh</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group homeGasClass" style="display: none;">
					<label class="col-sm-3 control-label">Consumo gas (m<sup>3</sup>)</label>
					<div class="col-sm-9">
						<div class="input-group input-group-icon">
							<input id="homeGasConsumtion" type="number" step="1" name="homeGasConsumtion"
								class="form-control" placeholder="">
							<span class="input-group-addon">
								<span class="icon">m<sup>3</sup></span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group mr-none ml-none mb-none vehicleClass" style="display: none;">
				<div class="form-group">
					<label class="col-sm-3 control-label">Vehículo <span class="required">*</span></label>
					<div class="col-sm-9">
						<select id="vehicle" class="form-control multiselect" name="vehicle"
							onchange="doVehicleChange(this.value)" data-plugin-multiselect disabled required>
							<option></option>
							{{#each vehicle}}
							<option value="{{description}}" {{#if_eq inOwnership 'true'}} {{else}} disabled{{/if_eq}}>
								{{description}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<div class="form-group vehicleGasClass vehicleMaintenance vehicleElectricClass" style="display: none;">
					<label class="col-sm-3 control-label">Cuentakilometros</label>
					<div class="col-sm-9">
						<div class="input-group input-group-icon">
							<input id="vehicleMilometer" type="number" step="1" name="vehicleMilometer"
								class="form-control" placeholder="">
							<span class="input-group-addon">
								<span class="icon">km</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group vehicleGasClass" style="display: none;">
					<label class="col-sm-3 control-label">Consumo (l)</label>
					<div class="col-sm-9">
						<div class="input-group input-group-icon">
							<input id="vehicleGasConsumtion" type="number" step="0.01" name="vehicleGasConsumtion"
								class="form-control" placeholder="">
							<span class="input-group-addon">
								<span class="icon">l</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group vehicleElectricClass" style="display: none;">
					<label class="col-sm-3 control-label">Consumo (kWh)</label>
					<div class="col-sm-9">
						<div class="input-group input-group-icon">
							<input id="vehicleLightConsumtion" type="number" step="0.01" name="vehicleLightConsumtion"
								class="form-control" placeholder="">
							<span class="input-group-addon">
								<span class="icon">kWh</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Observación</label>
				<div class="col-sm-9">
					<textarea id="observation" name="observation" rows="5" class="form-control"
						placeholder=""></textarea>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default" onclick="getAddData('{{tab}}')">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>