<form id="modal-form" action="/accounting/periodicAlerts/add" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times" onclick="closeModal()"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Alerta</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Concepto <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="concept" class="form-control" name="concept" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true, "enableCollapsibleOptGroups": true }'
						required>
						{{#each categories}}
						<optgroup class="{{className category}}" label="{{category}}">
							{{#each ../concepts}}
							{{#if_eq category ../this.category}}<option class="{{className category}}"
								value="{{concept}}">{{concept}}</option>{{/if_eq}}
							{{/each}}
						</optgroup>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha inicio <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="startDate" type="text" name="startDate" data-plugin-datepicker
							data-plugin-masked-input data-plugin-skin="primary" data-input-mask="99/99/9999"
							placeholder="__/__/____" class="form-control" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha fin</label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="endDate" type="text" name="endDate" data-plugin-datepicker
							data-plugin-masked-input data-plugin-skin="primary" data-input-mask="99/99/9999"
							placeholder="__/__/____" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Periodo <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="period" type="number" step="1" name="period" class="form-control" placeholder=""
							required>
						<span class="input-group-addon">
							<span class="icon">Meses</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Prioridad <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="priority" type="number" step="1" name="priority" class="form-control" placeholder=""
							required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Estado <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="status" class="form-control" name="status" data-plugin-multiselect required>
						<option value="Alerta activa">Alerta activa</option>
						<option value="Alerta pausada">Alerta pausada</option>
					</select>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default" onclick="getAddData('{{tab}}')">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>