<div class="row vehicleSummary">
		<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
		<section class="panel panel-featured-left panel-featured-quartenary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-quartenary">
							<i class="fa fa-receipt"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Precio</h4>
							<div class="info">
								<strong class="amount">{{lightShownProcessed.amount}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
		<section class="panel panel-featured-left panel-featured-tertiary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-tertiary">
							<i class="fa fa-tint"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Consumo</h4>
							<div class="info">
								<strong class="amount">{{{lightShownProcessed.homeLightConsumtion}}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
		<section class="panel panel-featured-left panel-featured-primary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-primary">
							<i class="fa fa-divide"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Coste real kWh</h4>
							<div class="info">
								<strong class="amount">{{{lightShownProcessed.lightPrice}}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>