<div class="row vehicleSummary">
		<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
		<section class="panel panel-featured-left panel-featured-quartenary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-quartenary">
							<i class="fa fa-money-check"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Salario Bruto</h4>
							<div class="info">
								<strong class="amount">{{salaryShownProcessed.grossAmount}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
		<section class="panel panel-featured-left panel-featured-tertiary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-tertiary">
							<i class="fa fa-money-bill-wave"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Salario neto</h4>
							<div class="info">
								<strong class="amount">{{salaryShownProcessed.amount}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
		<section class="panel panel-featured-left panel-featured-secondary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-secondary">
							<i class="fa fa-receipt"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Impuestos</h4>
							<div class="info">
								<strong class="amount">{{salaryShownProcessed.taxes}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
		<section class="panel panel-featured-left panel-featured-primary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-primary">
							<i class="fa fa-percent"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Impuestos (%) </h4>
							<div class="info">
								<strong class="amount">{{salaryShownProcessed.taxesPercentage}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>