<div class="row vehicleSummary">
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-quartenary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-quartenary">
							<i class="fa fa-euro-sign"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Kilometro</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.kilometerPrice}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-quartenary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-quartenary">
							<i class="fab fa-hotjar"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Consumo</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.gasConsumption}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-quartenary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-quartenary">
							<i class="fas fa-tachometer-alt"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Recorrido</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.milometer}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-primary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-primary">
							<i class="fas fa-key"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Financiación</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.financingAmount}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-primary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-primary">
							<i class="fas fa-wrench"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Mantenimiento</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.maintenanceAmount}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-primary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-primary">
							<i class="fas fa-fill-drip"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Combustible</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.powerSourceAmount}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-secondary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-secondary">
							<i class="fas fa-car"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Total</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.totalAmount}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-tertiary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-tertiary">
							<i class="fas fa-gas-pump"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Repostado</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.powerSourceLitres}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
		<section class="panel panel-featured-left panel-featured-tertiary">
			<div class="panel-body ">
				<div class="widget-summary widget-summary-sm">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-tertiary">
							<i class="fas fa-fill"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">Litro</h4>
							<div class="info">
								<strong class="amount">{{vehicleShownProcessed.gasPrice}}</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>