<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th>Acciones</th>
		<th>Fecha</th>
		<th>Subgrupo</th>
		<th>Entidad</th>
		<th>Nº acciones</th>
		<th>Importe</th>
		<th>Importe/Acción</th>
		<th>Observación</th>
	</tr>
</thead>
<tbody>
	{{#each cashflow}}
	<tr>
		<td class="actions">
			<a class="on-default edit-row" onclick="getCopyData('{{../tab}}', '{{_id}}')"><i
					class="far fa-copy"></i></a>
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{formatDate date}}</td>
		<td>{{subgroup}}</td>
		<td>{{entity}}</td>
		<td>{{stockNumber}}</td>
		<td>{{currency3d amount}}</td>
		<td>{{currency3d (div amount stockNumber)}}</td>
		<td>{{observation}}</td>
	</tr>
	{{/each}}
</tbody>