<form id="saveNewPassword" action="/users/saveNewPassword" method="POST" class="form-horizontal" onsubmit="return checkSubmit();">
    <div class="form-group">
        <label class="col-sm-12">Contraseña actual</label>
        <div class="col-sm-12">
            <div class="input-group input-group-icon">
                <input id="password" type="password" name="password" class="form-control" value=""
                    required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Nueva contraseña</label>
        <div class="col-sm-12">
            <div class="input-group input-group-icon">
                <input id="passwordNew" type="password" name="passwordNew" class="form-control" value=""
                    minlength="4" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Repita la nueva contraseña</label>
        <div class="col-sm-12">
            <div class="input-group input-group-icon">
                <input id="passwordNew2" type="password" name="passwordNew2" class="form-control" value=""
                    minlength="4" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-dark btn-block" style="color: #abb4be; background-color:rgba(255, 255, 255, 0.1);"
                onclick="$('#saveNewPassword').submit()">Guardar</button>
            <!--Por algun motivo no funciona el submit sin el onclick-->
        </div>
    </div>

</form>