<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/vendor/jstree/themes/default/style.css" />
<form id="shownSections" class="form-horizontal" onsubmit="return checkSubmit();">
    <div class="form-group">
        <div id="treeCheckbox" class="jstree jstree-2 jstree-default" role="tree" aria-activedescendant="j2_1">
            <!--Se rellena mediante js-->
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-dark btn-block" style="color: #abb4be; background-color:rgba(255, 255, 255, 0.1);"
                onclick="saveSections();">Guardar</button>
            <!--Por algun motivo no funciona el submit sin el onclick-->
        </div>
    </div>
</form>

<script src="/vendor/jstree/jstree.js"></script>