<form id="userDataForm" action="/users/profileSave" method="POST" class="form-horizontal" onsubmit="return checkSubmit();">
    <div class="form-group">
        <label class="col-sm-3 control-label">username</label>
        <div class="col-sm-9">
            <div class="input-group input-group-icon">
                <input id="username" type="text" name="username" class="form-control" value="{{user.username}}"
                    readonly>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-9">
            <div class="input-group input-group-icon">
                <input id="name" type="text" name="name" class="form-control" value="{{user.name}}" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Apellido</label>
        <div class="col-sm-9">
            <div class="input-group input-group-icon">
                <input id="surname" type="text" name="surname" class="form-control" value="{{user.surname}}" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">email</label>
        <div class="col-sm-9">
            <div class="input-group input-group-icon">
                <input id="email" type="email" name="email" class="form-control" value="{{user.email}}" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-dark btn-block" style="color: #abb4be; background-color:rgba(255, 255, 255, 0.1);" onclick="console.log($('#userDataForm').submit())">Guardar</button> <!--Por algun motivo no funciona el submit sin el onclick-->
        </div>
    </div>

</form>