<form id="modal-form-filter" action="/inventory/element/filter/{{tab}}" method="POST"
	class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="closeModalFilter(); $('select.multiselect option').removeAttr('selected'); $('.specificDates, .betweenDates').css('display', 'block');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Flitrar</span></h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Lugar</label>
				<div class="col-sm-9">
					<select id="placeFilter" class="form-control multiselect" name="placeFilter"
						data-plugin-multiselect multiple
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true, "enableClickableOptGroups": true, "enableCollapsibleOptGroups": true, "collapseOptGroupsByDefault": true }'>
						{{#each place}}
						<option value="{{place}}" {{#if_inArray ../inventoryFilterArray.place place}}
								selected {{/if_inArray}}>{{place}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tipo</label>
				<div class="col-sm-9">
					<select id="typeFilter" class="form-control multiselect" name="typeFilter"
						data-plugin-multiselect multiple
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true, "enableClickableOptGroups": true, "enableCollapsibleOptGroups": true, "collapseOptGroupsByDefault": true }'>
						{{#each type}}
						<option value="{{type}}"{{#if_inArray ../../inventoryFilterArray.type type}}
								selected {{/if_inArray}}>{{type}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default"
						onclick="$('select.multiselect').multiselect('deselectAll', false).multiselect('refresh');$('select.multiselect option').removeAttr('selected');  $('.specificDates, .betweenDates').css('display', 'block');">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>