<form id="modal-form" action="/inventory/element/add/{{tab}}" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times" onclick="closeModal()"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Elemento</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Elemento <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="element" type="text" name="element" class="form-control" placeholder="..." required>
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Lugar <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="place" class="form-control multiselect" name="place" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						{{#each place}}
						<option value="{{place}}">{{place}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tipo <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="type" class="form-control multiselect" name="type" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						{{#each type}}
						<option value="{{type}}">{{type}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Marca/Modelo</label>
				<div class="col-sm-9">
					<input id="brand" type="text" name="brand" class="form-control" placeholder="...">
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Identificativo</label>
				<div class="col-sm-9">
					<input id="identifying" type="text" name="identifying" class="form-control"
						placeholder="...">
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Lugar de adquisición</label>
				<div class="col-sm-9">
					<input id="acquisitionPlace" type="text" name="acquisitionPlace" class="form-control" placeholder="...">
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha de adquisición<span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="acquisitionDate" type="text" name="acquisitionDate" data-plugin-datepicker data-plugin-masked-input
							data-plugin-skin="primary" data-input-mask="99/99/9999" placeholder="__/__/____"
							class="form-control" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Precio de adquisición <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="acquisitionPrice" type="number" step="0.01" name="acquisitionPrice" class="form-control" placeholder=""
							required>
						<span class="input-group-addon">
							<span class="icon">€</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha fin de posesión</label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="possesionLostDate" type="text" name="possesionLostDate" data-plugin-datepicker data-plugin-masked-input
							data-plugin-skin="primary" data-input-mask="99/99/9999" placeholder="__/__/____"
							class="form-control">
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">Anotación</label>
				<div class="col-sm-9">
					<textarea id="annotation" name="annotation" rows="5" class="form-control"
						placeholder=""></textarea>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default" onclick="getAddData('{{tab}}')">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>