<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th>Acciones</th>
		<th>Fecha</th>
		<th>País</th>
		<th>Latitud</th>
		<th>Longitud</th>
		<th>Lugar</th>
		<th>Categoría</th>
		<th>Anotaciones</th>
	</tr>
</thead>
<tbody>
	{{#each trip}}
	<tr>
		<td class="actions">
			<a class="on-default edit-row" onclick="getCopyData('{{../tab}}', '{{_id}}')"><i
					class="far fa-copy"></i></a>
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{formatDate date}}</td>
		<td>{{country}}</td>
		<td>{{latitude}}</td>
		<td>{{longitude}}</td>
		<td>{{place}}</td>
		<td>{{category}}</td>
		<td>{{annotation}}</td>
	</tr>
	{{/each}}
</tbody>