<form id="modal-form-filter" action="/trips/tables/filter/{{tab}}" method="POST"
	class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="closeModalFilter(); $('select.multiselect option').removeAttr('selected'); $('.specificDates, .betweenDates').css('display', 'block');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Flitrar</span></h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Región</label>
				<div class="col-sm-9">
					<select id="regionFilter" class="form-control multiselect" name="regionFilter"
						data-plugin-multiselect multiple
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true, "enableClickableOptGroups": true, "enableCollapsibleOptGroups": true, "collapseOptGroupsByDefault": true }'>
						{{#each region}}
						<option value="{{region}}" {{#if_inArray ../tripsFilterArray.region region}}
								selected {{/if_inArray}}>{{region}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Categoría</label>
				<div class="col-sm-9">
					<select id="categoryFilter" class="form-control multiselect" name="categoryFilter"
						data-plugin-multiselect multiple
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true, "enableClickableOptGroups": true, "enableCollapsibleOptGroups": true, "collapseOptGroupsByDefault": true }'>
						{{#each category}}
						<option value="{{category}}" {{#if_inArray ../tripsFilterArray.category category}}
								selected {{/if_inArray}}>{{category}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default"
						onclick="$('select.multiselect').multiselect('deselectAll', false).multiselect('refresh');$('select.multiselect option').removeAttr('selected');  $('.specificDates, .betweenDates').css('display', 'block');">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>