<form id="modal-form" action="/trips/tables/add/{{tab}}" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times" onclick="closeModal()"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Elemento</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha<span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="date" type="text" name="date" data-plugin-datepicker data-plugin-masked-input
							data-plugin-skin="primary" data-input-mask="99/99/9999" placeholder="__/__/____"
							class="form-control" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">País <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="countryCode" class="form-control multiselect" name="countryCode" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						{{#each country}}
						<option value="{{alpha-2}}">{{name-Spanish}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Latitud</label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="latitude" type="number" step="0.0000001" name="latitude" class="form-control"
							placeholder="">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Longitud</label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="longitude" type="number" step="0.0000001" name="longitude" class="form-control"
							placeholder="">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Lugar</label>
				<div class="col-sm-9">
					<input id="place" type="text" name="place" class="form-control" placeholder="">
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Categoría <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="category" class="form-control multiselect" name="category" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						<option value="Visitado">Visitado</option>
						<option value="Programado">Programado</option>
						<option value="Viviendo">Viviendo</option>
						<option value="Trabajando">Trabajando</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Anotación</label>
				<div class="col-sm-9">
					<textarea id="annotation" name="annotation" rows="5" class="form-control" placeholder=""></textarea>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default" onclick="getAddData('{{tab}}')">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>