<form id="modal-form" action="/accounting/dropdowns/category/add" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel modal-content">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="$('#modal-backdrop').removeClass(); $('.modal').removeClass('show');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Categoría</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Tipo <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="type" class="form-control" name="type" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option value="Ingreso">Ingreso</option>
						<option value="Gasto">Gasto</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Categoría <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="category" type="text" name="category" class="form-control" placeholder="categoría"
						required>
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Grupo <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="group" class="form-control" name="group" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option value="General">General</option>
						<option value="Vehículo">Vehículo</option>
						<option value="Vivienda">Vivienda</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Prioridad <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="categoryPriority" type="number" step="1" name="categoryPriority" class="form-control"
							placeholder="1" max="99" max="1" required>
					</div>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>