<form id="modal-form" action="/accounting/dropdowns/concept/add" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel modal-content">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="$('#modal-backdrop').removeClass(); $('.modal').removeClass('show');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Concepto</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Tipo (Info)</label>
				<div class="col-sm-9">
					<input id="typeInfo" type="text" name="typeInfo" class="form-control" placeholder="" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Grupo (Info)</label>
				<div class="col-sm-9">
					<input id="groupInfo" type="text" name="groupInfo" class="form-control" placeholder="" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Categoría <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="category" class="form-control" name="category" onchange="getCategoryData(this.value)"
						data-plugin-multiselect data-plugin-options='{ "enableCaseInsensitiveFiltering": true }'
						required>
						<option></option>
						{{#each category}}
						<option value="{{category}}">{{category}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Concepto <span class="required">*</span></label>
				<div class="col-sm-9">

					<input id="concept" type="text" name="concept" class="form-control" placeholder="" required>

				</div>
			</div>
			<div class="form-group homeExpGroup vehicleExpGroup generalIncGroup">
				<label class="col-sm-3 control-label">Subgrupo</label>
				<div class="col-sm-9">
					<select id="subgroup" class="form-control" name="subgroup" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }'>
						<option></option>
						<option class="generalIncGroup" value="Nómina">Nómina</option>
						<option class="homeExpGroup" value="Luz Vivienda">Luz Vivienda</option>
						<option class="homeExpGroup" value="Agua Vivienda">Agua Vivienda</option>
						<option class="homeExpGroup" value="Gas Vivienda">Gas Vivienda</option>
						<option class="vehicleExpGroup" value="Fuente energía Vehículo">Fuente energía Vehículo</option>
						<option class="vehicleExpGroup" value="Mantenimiento Vehículo">Mantenimiento Vehículo</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Prioridad <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="conceptPriority" type="number" step="1" name="conceptPriority" class="form-control"
							placeholder="1" max="99" max="1" required>
					</div>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>