<form id="modal-form" action="/accounting/dropdowns/entity/add" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel modal-content">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="$('#modal-backdrop').removeClass(); $('.modal').removeClass('show');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Entidad</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Entidad <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="entity" type="text" name="entity" class="form-control" placeholder="..."
						required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Cotización actual<span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="quotation" type="number" step="0.001" name="quotation" class="form-control" placeholder=""
							required>
						<span class="input-group-addon">
							<span class="icon">€</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Prioridad <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="entityPriority" type="number" step="1" name="entityPriority" class="form-control"
							placeholder="1" max="99" max="1" required>
					</div>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>