<form id="modal-form" action="/accounting/dropdowns/vehicle/add" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel modal-content">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="$('#modal-backdrop').removeClass(); $('.modal').removeClass('show');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Vehículo</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Descripción <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="description" type="text" name="description" class="form-control"
						placeholder="Marca Modelo 1234ABC" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Tipo <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="vehicleType" class="form-control" name="vehicleType" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						<option value="Eléctrico">Eléctrico</option>
						<option value="Gasolina">Gasolina</option>
						<option value="Híbrido enchufable">Híbrido enchufable</option>
						<option value="Diesel">Diesel</option>
						<option value="Híbrido">Híbrido</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Actualmente <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="inOwnership" class="form-control" name="inOwnership" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						<option value="true">Actualmente en propiedad</option>
						<option value="false">Actualmente NO en propiedad</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Prioridad <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="vehiclePriority" type="number" step="1" name="vehiclePriority" class="form-control"
							placeholder="1" max="99" max="1" required>
					</div>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>