<form id="modal-form" action="/annotations/annotation/schedule/add" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel modal-content">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="$('#modal-backdrop').removeClass(); $('.modal').removeClass('show');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Cita agenda</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Título <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="title" type="text" name="title" class="form-control" placeholder="..." required>
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Descripción <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="description" type="text" name="description" class="form-control" placeholder="..."
						required>
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="date" type="text" name="date" data-plugin-datepicker data-plugin-masked-input
							data-plugin-skin="primary" data-input-mask="99/99/9999" placeholder="__/__/____"
							class="form-control" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha inicio alerta</label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="alertDate" type="text" name="alertDate" data-plugin-datepicker data-plugin-masked-input
							data-plugin-skin="primary" data-input-mask="99/99/9999" placeholder="__/__/____"
							class="form-control">
					</div>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>