<form id="modal-form" action="/annotations/annotation/task/add" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel modal-content">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="$('#modal-backdrop').removeClass(); $('.modal').removeClass('show');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Tarea</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Título <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="title" type="text" name="title" class="form-control" placeholder="..." required>
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Descripción <span class="required">*</span></label>
				<div class="col-sm-9">
					<input id="description" type="text" name="description" class="form-control" placeholder="..."
						required>
				</div>
				<div class="col-sm-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Prioridad <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="priority" type="number" step="1" name="priority" class="form-control"
							placeholder="1" max="99" max="1" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Alerta <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="alertActive" class="form-control" name="alertActive" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option value="true">Activada</option>
						<option value="false" selected>Desactivada</option>
					</select>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>