<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th>Acciones</th>
		<th>Elemento</th>
		<th>Lugar</th>
		<th>Tipo</th>
		<th>Marca/Modelo</th>
		<th>Identificador</th>
		<th>Lugar de adquisición</th>
		<th>Fecha de adquisición</th>
		<th>Valor de adquisición</th>
		<th>Fecha de pérdida</th>
		<th>Anotaciones</th>
	</tr>
</thead>
<tbody>
	{{#each element}}
	<tr {{#if possesionLostDate}}class="Gray"{{/if}}>
		<td class="actions">
			<a class="on-default edit-row" onclick="getCopyData('{{../tab}}', '{{_id}}')"><i
					class="far fa-copy"></i></a>
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{element}}</td>
		<td>{{place}}</td>
		<td>{{type}}</td>
		<td>{{brand}}</td>
		<td>{{identifying}}</td>
		<td>{{acquisitionPlace}}</td>
		<td>{{formatDate acquisitionDate}}</td>
		<td>{{currency acquisitionPrice}}</td>
		<td>{{#if possesionLostDate}}{{formatDate possesionLostDate}}{{/if}}</td>
		<td>{{annotation}}</td>
	</tr>
	{{/each}}
</tbody>