<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li {{#if_eq tab 'incomesCashflow'}} class="active" {{/if_eq}}>
				<a href="/accounting/cashflow/incomesCashflow" class="text-center"><i class="fa fa-user-plus"></i>
					{{#if_eq deviceType 'phone'}} I.G.{{else}} Ingresos Gen.{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'expensesCashflow'}} class="active" {{/if_eq}}>
				<a href="/accounting/cashflow/expensesCashflow" class="text-center"><i class="fa fa-user-minus"></i>
					{{#if_eq deviceType 'phone'}} G.G.{{else}} Gastos Gen.{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'incomesHomeCashflow'}} class="active" {{/if_eq}}>
				<a href="/accounting/cashflow/incomesHomeCashflow" class="text-center"><i class="fa fa-home"></i>
					{{#if_eq deviceType 'phone'}} I.Vi.{{else}} Ingresos Viv.{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'expensesHomeCashflow'}} class="active" {{/if_eq}}>
				<a href="/accounting/cashflow/expensesHomeCashflow" class="text-center"><i
						class="fa fa-house-damage"></i>
					{{#if_eq deviceType 'phone'}} G.Vi.{{else}} Gastos Viv.{{/if_eq}}</a>
			</li>
			<!--li {{#if_eq tab 'incomesVehicleCashflow'}} class="active" {{/if_eq}}>
				<a href="/accounting/cashflow/incomesVehicleCashflow" class="text-center"><i class="fa fa-gas-pump"></i> 
				{{#if_eq deviceType 'phone'}} I.Ve.{{else}} Ing. Vehí.{{/if_eq}}</a>
			</li-->
			<li {{#if_eq tab 'expensesVehicleCashflow'}} class="active" {{/if_eq}}>
				<a href="/accounting/cashflow/expensesVehicleCashflow" class="text-center"><i class="fa fa-car"></i>
					{{#if_eq deviceType 'phone'}} G.Ve.{{else}} Gastos Vehí.{{/if_eq}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active">
				<div>
					<div class="mb-md">
						<button id="addToTable" class="btn btn-info" onclick="getAddData('{{tab}}')"><i
								class="fa fa-plus"></i></button>
						<button id="filterTable" class="btn btn-warning" onclick="getFilter('{{tab}}')"><i
								class="fa fa-filter" {{#if filter}}style="color: red;" {{/if}}>{{#if filter}}<sup><i
										class="fa fa-exclamation" style="color: red;"></i></sup>{{/if}}</i></button>
					</div>
					<div class="mb-none" style="text-align: center;">
						<div class="lds-ellipsis">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
					<table class="table table-bordered table-striped mb-none" id="cashflowDatatable" style="opacity: 0">
						{{> accounting/cashflow/tables/general}}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="modal" class="col-md-6 modal" tabindex="-1" role="dialog" aria-labelledby="dataEnterModal"
		aria-hidden="true">
		{{> accounting/cashflow/forms/general}}
		{{> accounting/cashflow/forms/generalFilter}}
	</div>
	<div id="modal-backdrop"></div>


	<!-- Specific Page Vendor -->
	<script src="/vendor/select2/select2.js"></script>
	<script src="/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
	<script src="/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
	<script src="/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/date-euro.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/accent_search.js"></script>
	<script src="/js/accountingCashflow.custom.js"></script>