{{#if (or sections.accounting.details.salary sections.accounting.details.vehicle)}}<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			{{#if sections.accounting.details.salary}}<li {{#if_eq tab 'salary'}} class="active" {{/if_eq}}>
				<a href="/accounting/details/salary" class="text-center"><i class="fa fa-money-bill-wave"></i>
					{{#if_eq deviceType 'phone'}} Nómina{{else}} Nómina{{/if_eq}}</a>
			</li>{{/if}}
			{{#if sections.accounting.details.vehicle}}<li {{#if_eq tab 'vehicle'}} class="active" {{/if_eq}}>
				<a href="/accounting/details/vehicle" class="text-center"><i class="fa fa-car"></i>
					{{#if_eq deviceType 'phone'}} Vehículo{{else}} Vehículo{{/if_eq}}</a>
			</li>{{/if}}
			{{#if sections.accounting.details.water}}<li {{#if_eq tab 'water'}} class="active" {{/if_eq}}>
				<a href="/accounting/details/water" class="text-center"><i class="fas fa-tint"></i>
					{{#if_eq deviceType 'phone'}} Agua{{else}} Agua{{/if_eq}}</a>
			</li>{{/if}}
			{{#if sections.accounting.details.light}}<li {{#if_eq tab 'light'}} class="active" {{/if_eq}}>
				<a href="/accounting/details/light" class="text-center"><i class="far fa-lightbulb"></i>
					{{#if_eq deviceType 'phone'}} Luz{{else}} Luz{{/if_eq}}</a>
			</li>{{/if}}
			{{#if sections.accounting.stock}}<li {{#if_eq tab 'stock'}} class="active" {{/if_eq}}>
				<a href="/accounting/details/stock" class="text-center"><i class="fas fa-chart-line"></i>
					{{#if_eq deviceType 'phone'}} Acciones{{else}} Acciones{{/if_eq}}</a>
			</li>{{/if}}
		</ul>
		<div class="tab-content">
			<div class="tab-pane active">
				<div>
					<div class="mb-md" style="min-height: 22px;">
						{{#if_eq tab 'vehicle'}}
						<select id="vehicleSelection" class="form-control multiselect" name="vehicleSelection"
							data-plugin-multiselect data-plugin-options='{ "enableCaseInsensitiveFiltering": false }'
							style="opacity: 0">
							{{#each usedVehicle}}
							<option value="{{vehicleUsed}}" {{#if_eq ../vehicleShown vehicleUsed}} selected {{/if_eq}}>
								{{vehicleUsed}}</option>
							{{/each}}
						</select>
						{{/if_eq}}
						{{#if (or (eq tab 'water') (eq tab 'light'))}}
						<select id="homeSelection" class="form-control multiselect" name="homeSelection"
							data-plugin-multiselect data-plugin-options='{ "enableCaseInsensitiveFiltering": false }'
							style="opacity: 0">
							{{#each usedHome}}
							<option value="{{homeUsed}}" {{#if_eq ../homeShown homeUsed}} selected {{/if_eq}}>
								{{homeUsed}}</option>
							{{/each}}
						</select>
						{{/if}}
						{{#if_eq tab 'stock'}}
						<select id="entitySelection" class="form-control multiselect" name="entitySelection"
							data-plugin-multiselect data-plugin-options='{ "enableCaseInsensitiveFiltering": false }'
							style="opacity: 0">
							<option value="Todas" {{#if_eq entityShown 'Todas'}} selected {{/if_eq}}>
								Todas</option>
							{{#each usedEntity}}
							<option value="{{entityUsed}}" {{#if_eq ../entityShown entityUsed}} selected {{/if_eq}}>
								{{entityUsed}}</option>
							{{/each}}
						</select>
						{{/if_eq}}
						{{#if_eq tab 'vehicle'}}
						{{else}}
						<button id="filterTable" class="btn btn-warning" onclick="getFilter('{{tab}}');"><i
								class="fa fa-filter" {{#if filter}}style="color: red;" {{/if}}>{{#if filter}}<sup><i
										class="fa fa-exclamation" style="color: red;"></i></sup>{{/if}}</i></button>
						{{/if_eq}}
					</div>

					{{#if_eq tab 'vehicle'}}
					{{> accounting/cashflow/widgets/vehicleSummary}}
					{{/if_eq}}
					{{#if_eq tab 'salary'}}
					{{> accounting/cashflow/widgets/salarySummary}}
					{{/if_eq}}
					{{#if_eq tab 'water'}}
					{{> accounting/cashflow/widgets/waterSummary}}
					{{/if_eq}}
					{{#if_eq tab 'light'}}
					{{> accounting/cashflow/widgets/lightSummary}}
					{{/if_eq}}
					{{#if_eq tab 'stock'}}
					{{> accounting/cashflow/widgets/stockSummary}}
					{{/if_eq}}

					<div class="mb-none" style="text-align: center;">
						<div class="lds-ellipsis">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
					<table class="table table-bordered table-striped mb-none" id="detailsDatatable" style="opacity: 0">
						{{#if_eq tab 'vehicle'}}
						{{> accounting/cashflow/tables/detailsVehicle}}
						{{/if_eq}}
						{{#if_eq tab 'salary'}}
						{{> accounting/cashflow/tables/detailsSalary}}
						{{/if_eq}}
						{{#if_eq tab 'water'}}
						{{> accounting/cashflow/tables/detailsWater}}
						<canvas id="waterChart"></canvas>
						{{/if_eq}}
						{{#if_eq tab 'light'}}
						{{> accounting/cashflow/tables/detailsLight}}
						<canvas id="lightChart"></canvas>
						{{/if_eq}}
						{{#if_eq tab 'stock'}}
						{{> accounting/cashflow/tables/detailsStock}}
						<canvas id="stockChart"></canvas>
						{{/if_eq}}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="modal" class="col-md-6 modal" tabindex="-1" role="dialog" aria-labelledby="dataEnterModal"
		aria-hidden="true">
		{{> accounting/cashflow/forms/detailsFilter}}
	</div>
	<div id="modal-backdrop"></div>

	{{/if}}
	<!-- Specific Page Vendor -->
	{{#if (or (eq tab 'water') (eq tab 'light') (eq tab 'stock'))}}
	<script> var barChartData = JSON.parse('{{{ json barChartData }}}');</script>
	{{/if}}
	<script> var tab = '{{ tab }}';</script>
	<script src="/vendor/select2/select2.js"></script>
	<script src="/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
	<script src="/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
	<script src="/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/date-euro.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/accent_search.js"></script>
	<script src="/vendor/chart.js/Chart.js"></script>
	<script src="/vendor/chart.js/Chart.bundle.js"></script>
	<script src="/js/accountingDetails.custom.js"></script>