<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li {{#if_eq tab 'category'}} class="active" {{/if_eq}}>
				<a href="/accounting/dropdowns/category" class="text-center"><i class="fa fa-sitemap"></i>
					{{#if_eq deviceType 'phone'}} Categ.{{else}} Categorías{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'concept'}} class="active" {{/if_eq}}>
				<a href="/accounting/dropdowns/concept" class="text-center"><i class="fa fa-th-large"></i>
					{{#if_eq deviceType 'phone'}} Concep.{{else}} Conceptos{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'home'}} class="active" {{/if_eq}}>
				<a href="/accounting/dropdowns/home" class="text-center"><i class="fa fa-home"></i>
					{{#if_eq deviceType 'phone'}}Viv.{{else}} Viviendas{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'vehicle'}} class="active" {{/if_eq}}>
				<a href="/accounting/dropdowns/vehicle" class="text-center"><i class="fa fa-car"></i>
					{{#if_eq deviceType 'phone'}}Vehíc.{{else}} Vehículos{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'entity'}} class="active" {{/if_eq}}>
				<a href="/accounting/dropdowns/entity" class="text-center"><i class="fa fa-building"></i>
					{{#if_eq deviceType 'phone'}}Ent.{{else}} Entidades{{/if_eq}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-panel active">

				<div class="mb-md">
					<button id="addToTable" class="btn btn-primary" onclick="getAddData('{{tab}}')">Añadir <i
							class="fa fa-plus"></i></button>
				</div>
				<div class="mb-none" style="text-align: center;">
					<div class="lds-ellipsis">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<table class="table table-bordered table-striped mb-none" id="dropdownDatatable" style="opacity: 0">
					{{#if_eq tab 'category'}}
					{{> accounting/dropdowns/tables/category}}
					{{/if_eq}}
					{{#if_eq tab 'concept'}}
					{{> accounting/dropdowns/tables/concept}}
					{{/if_eq}}
					{{#if_eq tab 'home'}}
					{{> accounting/dropdowns/tables/home}}
					{{/if_eq}}
					{{#if_eq tab 'vehicle'}}
					{{> accounting/dropdowns/tables/vehicle}}
					{{/if_eq}}
					{{#if_eq tab 'entity'}}
					{{> accounting/dropdowns/tables/entity}}
					{{/if_eq}}
				</table>
			</div>
		</div>
	</div>
</div>
<div id="modal" class="col-md-6 modal" tabindex="-1" role="dialog" aria-labelledby="dataEnterModal" aria-hidden="true">
	{{#if_eq tab 'category'}}
	{{> accounting/dropdowns/forms/category}}
	{{/if_eq}}
	{{#if_eq tab 'concept'}}
	{{> accounting/dropdowns/forms/concept}}
	{{/if_eq}}
	{{#if_eq tab 'home'}}
	{{> accounting/dropdowns/forms/home}}
	{{/if_eq}}
	{{#if_eq tab 'vehicle'}}
	{{> accounting/dropdowns/forms/vehicle}}
	{{/if_eq}}
	{{#if_eq tab 'entity'}}
	{{> accounting/dropdowns/forms/entity}}
	{{/if_eq}}
</div>
<div id="modal-backdrop"></div>



<!-- Specific Page Vendor -->
<script src="/vendor/select2/select2.js"></script>
<script src="/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
<script src="/vendor/jquery-datatables/helpers_AGP/date-euro.js"></script>
<script src="/vendor/jquery-datatables/helpers_AGP/accent_search.js"></script>
<script src="/js/accountingDropdowns.custom.js"></script>