<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li {{#if_eq tab 'general'}} class="active" {{/if_eq}}>
				<a href="/accounting/graphs/general" class="text-center"><i class="fa fa-user-plus"></i>
					{{#if_eq deviceType 'phone'}} General{{else}} General{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'home'}} class="active" {{/if_eq}}>
				<a href="/accounting/graphs/home" class="text-center"><i class="fa fa-user-minus"></i>
					{{#if_eq deviceType 'phone'}} Vivienda{{else}} Vivienda{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'vehicle'}} class="active" {{/if_eq}}>
				<a href="/accounting/graphs/vehicle" class="text-center"><i class="fa fa-home"></i>
					{{#if_eq deviceType 'phone'}} Vehículo{{else}} Vehículo{{/if_eq}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active">
				<div class="row m-none">
					<div class="mb-none" style="text-align: center;">
						<div class="lds-ellipsis">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>

					<div id="graphsPanel" class="row m-none" style="display: none;">
						<div class="col-md-12">
							<div class="mb-none">
								<button id="filterData" class="btn btn-warning" onclick="getFilter('{{tab}}')"><i
										class="fa fa-filter" {{#if filter}}style="color: red;"
										{{/if}}>{{#if filter}}<sup><i class="fa fa-exclamation"
												style="color: red;"></i></sup>{{/if}}</i></button>

								<h3>
									Balance:
									<strong id="balanceAmountT"> </strong>
									{{#if_eq tab 'general'}}  
									( <strong id="balanceAmountR"> </strong> Cashflow ){{/if_eq}}
								</h3>
							</div>
							<canvas id="balanceChart"></canvas>
						</div>
						{{#if pieChartData.Ingreso-Categories}}
						<div class="col-md-6">
							<h3>
								Ingresos:
								<strong id="incomeAmount"> </strong>
							</h3>
							<canvas id="categoryIncomeChart"></canvas>
							<div id="categoryIncomeGraph" style="display: none;">
								<h3 id="incomeCategoryAmount"> </h3>
								<canvas id="conceptIncomeChart"></canvas>
							</div>
						</div>
						{{/if}}
						{{#if pieChartData.Gasto-Categories}}
						<div class="col-md-6">
							<h3>
								Gastos:
								<strong id="expenseAmount"> </strong>
							</h3>
							<canvas id="categoryExpenseChart"></canvas>
							<div id="categoryExpenseGraph" style="display: none;">
								<h3 id="expenseCategoryAmount"> </h3>
								<canvas id="conceptExpenseChart"></canvas>
							</div>

						</div>

						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modal" class="col-md-6 modal" tabindex="-1" role="dialog" aria-labelledby="dataEnterModal"
		aria-hidden="true">
		{{> accounting/cashflow/forms/generalFilter}}
	</div>
	<div id="modal-backdrop"></div>


	<!-- Specific Page Vendor -->
	<script> var balanceChartData = {{{ json balanceChartData }}}</script>
	<script> var pieChartData = {{{ json pieChartData }}}</script>
	<script src="/vendor/chart.js/Chart.js"></script>
	<script src="/vendor/chart.js/Chart.bundle.js"></script>
	<script src="/js/accountingGraphs.custom.js"></script>