<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li class="active" >
				<a href="#" class="text-center"><i class="fa fa-user-plus"></i>
					{{#if_eq deviceType 'phone'}} {{else}} {{/if_eq}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active">
				<div>
					<div class="mb-md">
						<button id="addToTable" class="btn btn-info" onclick="getAddData()"><i
								class="fa fa-plus"></i></button>
					</div>
					<div class="mb-none" style="text-align: center;">
						<div class="lds-ellipsis">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
					<table class="table table-bordered table-striped mb-none" id="periodicAlertsDatatable" style="opacity: 0">
						{{> accounting/cashflow/tables/periodicAlerts}}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="modal" class="col-md-6 modal" tabindex="-1" role="dialog" aria-labelledby="dataEnterModal"
		aria-hidden="true">
		{{> accounting/cashflow/forms/periodicAlerts}}
	</div>
	<div id="modal-backdrop"></div>

	<!-- Specific Page Vendor -->
	<script src="/vendor/select2/select2.js"></script>
	<script src="/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
	<script src="/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
	<script src="/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/date-euro.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/accent_search.js"></script>
	<script src="/js/accountingPeriodicAlerts.custom.js"></script>