<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li {{#if_eq summaryType 'total'}} class="active" {{/if_eq}}>
				<a href="/accounting/summary/total{{group}}" class="text-center"><i class="fa fa-user-plus"></i>
					{{#if_eq deviceType 'phone'}} Total{{else}} Total{{/if_eq}}</a>
			</li>
			<li {{#if_eq summaryType 'annual'}} class="active" {{/if_eq}}>
				<a href="/accounting/summary/annual{{group}}" class="text-center"><i class="fa fa-user-minus"></i>
					{{#if_eq deviceType 'phone'}} Anual{{else}} Anual{{/if_eq}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active">
				<div>
					<div class="mb-md" style="min-height: 22px;">
							<select id="groupSummary" class="form-control" name="groupSummary" data-plugin-multiselect
								style="opacity: 0">
								<option value="General" {{#if_eq group 'General'}} selected {{/if_eq}}>General</option>
								<option value="Vehículo" {{#if_eq group 'Vehículo'}} selected {{/if_eq}}>Vehículo</option>
								<option value="Vivienda" {{#if_eq group 'Vivienda'}} selected {{/if_eq}}>Vivienda</option>
							</select>


						<button id="filterTable" class="btn btn-warning" onclick="getFilter('{{tab}}');"><i
								class="fa fa-filter" {{#if filter}}style="color: red;" {{/if}}>{{#if filter}}<sup><i
										class="fa fa-exclamation" style="color: red;"></i></sup>{{/if}}</i></button>
					</div>
					<div class="mb-none" style="text-align: center;">
						<div class="lds-ellipsis">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
					<table class="table table-bordered table-striped mb-none" id="summaryDatatable" style="opacity: 0">
						{{> accounting/cashflow/tables/summary}}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="modal" class="col-md-6 modal" tabindex="-1" role="dialog" aria-labelledby="dataEnterModal"
		aria-hidden="true">
		{{> accounting/cashflow/forms/generalFilter}}
	</div>
	<div id="modal-backdrop"></div>


	<!-- Specific Page Vendor -->
	<script> var tab = '{{ tab }}'</script>
	<script> var summaryType = '{{ summaryType }}'</script>
	<script src="/vendor/select2/select2.js"></script>
	<script src="/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
	<script src="/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
	<script src="/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/date-euro.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/accent_search.js"></script>
	<script src="/js/accountingSummary.custom.js"></script>