/* Add here all your CSS customizations */
ul.nav-main li i {
    padding-bottom: 3px;
}

.content-body{
    padding: unset;

}

.swal2-popup {
    font-size: unset !important;
}

.sidebar-left .sidebar-header .sidebar-title, .sidebar-widget .widget-header h6 {
    color: white;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.panel-close {
    right: 15px;
    position: absolute;
    top: 15px;
}

.panel-close a {
    background-color: transparent;
    border-radius: 2px;
    color: #b4b4b4;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 24px;
}
.panel-close a, .panel-close a:focus, .panel-close a:hover, .panel-close a:active, .panel-close a:visited {
    outline: none !important;
    text-decoration: none !important;
}

.alert {
    margin-bottom: auto;
}

option:disabled {
    background-color: lightgray;
}

.table a {
    display: inline-block;
    margin-right: 5px;
    color: #666;
}
td.group-icons {
    text-align: center
}

.select2-chosen, .select2-choice > span:first-child, .select2-container .select2-choices .select2-search-field input {
    padding: 7px 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button#filterTable, button#filterData{
    float: right;
}
button#lastBankUpdate{
  margin-top: 8px;
  float: right;
}

form button.multiselect, form .btn-group{
width: 100%;
text-align: inherit;
}

form button.multiselect .caret{
    float: right;
    margin-top: 7px
}

form button.multiselect.dropdown-toggle.btn.btn-default {
    height: 34px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 6px;
}
.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 34px;
}

.multiselect-container.dropdown-menu{
    width: -webkit-fill-available;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
}

.multiselect-container.dropdown-menu input[type="radio"]{
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.multiselect-container.dropdown-menu .radio{
padding-left: 20px;
}
li.multiselect-item.multiselect-group, li.multiselect-item.multiselect-group a {
  height: 34px;
}

::-webkit-scrollbar {
    width: .8rem;
}
form ::-webkit-scrollbar-thumb {
    background: #fff;
    border: 1px solid #36b9cc;
}
table ::-webkit-scrollbar-thumb {
    background: #fff;
    border: 1px solid lightslategrey;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #36b9cc;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  .today.day:not(.disabled){
    color: #fff !important;
  }
  ul.nav-main li.nav-active > a {
    color: #0088cc;
}
.datepicker-switch{
font-weight: bold !important;
}
.datepicker table tbody tr td.day.active {
  background: #4EB5E8 !important;
}

.datepicker table tbody tr td.day:hover {
	background: #cccccc !important;
}

.datepicker table tbody tr td.today.disabled.day {
color: #999999;
}
.highlighted.day:not(.disabled):not(.old):not(.new){
  color: red !important;
}

#modal-form, #modal-form-filter{
    display: none;
}

::-webkit-scrollbar{
  widows: 0.8rem;


}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border: 1px solid lightgray;
}

.dropdown-menu.notification-menu .content{
  max-height: 36vh;
 overflow: auto;
}
.dropdown-menu.notification-menu .content .title{
  font-weight:  bold !important;
}
.notification-menu .message {
  color: #565656 !important ;
  font-size: 1.2rem !important;
}
.sidebar-right{
  bottom: 0;
  right: 0;
  padding-bottom: 50px;
  position: fixed;
  top: 60px;
}
/****/
html.fixed.sidebar-left-collapsed .page-header {
  left: 73px;
}
/****/
html.sidebar-right-opened .inner-wrapper {
  margin-left: unset;
}

html.sidebar-right-opened .header {
  margin-left: unset;
  margin-right: unset;
}
html.fixed.sidebar-right-opened .sidebar-left {
  left: unset;
}
html.fixed.sidebar-left-collapsed.sidebar-right-opened .page-header {
    left: 73px;
}
html.fixed.sidebar-right-opened .page-header {
    left: 300px;
}
.sidebar-right-opened{
  right: 300px;
}
.sidebar-right .sidebar-right-wrapper {
  padding: unset;
}
.toggle {
  margin: unset;
  position: unset;
  clear: unset;
}
.toggle label, .toggle.active label, .toggle.active i.fa-minus {
  border-left: unset;
  color: #abb4be;
  background: unset !important;
}
.toggle.active > label:before {
  border-top-color: #abb4be;
}
.toggle > .toggle-content {
  padding: 0 20px;
}
.input-group-icon input.form-control, .input-search input.form-control {
  padding-right: 12px;
}

.input-lg, .form-group-lg .form-control,.input-group-icon input.form-control, .input-search input.form-control {
  font-family: Arial;
  font-size: 13px;
}

.vehicleSummary .panel-body {
  padding: 15px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

@media only screen and (max-width: 768px){
  .page-header {
    margin-bottom: auto;
  }
  .sidebar-right {
    right: -100%;
  }
  .sidebar-right-opened{
    right: 300px;
  }
  html.sidebar-right-opened .inner-wrapper {
    margin-left: unset;
  }
  html.sidebar-right-opened .header {
    margin-left: unset;
    margin-right: unset;
  }
  html.fixed.sidebar-right-opened .sidebar-left {
    left: -100%;
  }
  html.fixed.sidebar-left-collapsed.sidebar-right-opened .page-header {
    left: 73px;
  }
}
.page-header {

  padding-right: 20px;
}
@media only screen and (max-width: 767px){
  .page-header {
      padding-left: 20px;
      padding-right: 40px;
  }
}