<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		{{#each waterShownProcessed.waterTable.header}}
		<th>{{{this}}}</th>
		{{/each}}
	</tr>
</thead>
<tbody>
	{{#each waterShownProcessed.waterTable.table}}
	<tr>
		{{#each ./../waterShownProcessed.waterTable.header}}
		{{#if_eq this 'Fecha'}}
		<td>{{formatDate (lookup ./../this this)}}</td>
		{{else}}
		<td>{{{lookup ./../this this}}}</td>
		{{/if_eq}}

		{{/each}}
	</tr>
	{{/each}}
</tbody>