<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<h5> <i class="fas fa-exclamation-triangle" style="color: orange;"></i> Los calculos de consumo de la tabla son fiables con datos de deposito lleno, datos de deposito parcial altera los datos de dicho trayecto y el posterior.  <i class="fas fa-exclamation-triangle" style="color: orange;"></i> </h5>
<thead>
	<tr>
		{{#each vehicleShownProcessed.powerSourceTable.header}}
		<th>{{{this}}}</th>
		{{/each}}
	</tr>
</thead>
<tbody>
	{{#each vehicleShownProcessed.powerSourceTable.table}}
	<tr>
		{{#each ./../vehicleShownProcessed.powerSourceTable.header}}
		{{#if_eq this 'Fecha'}}
		<td>{{formatDate (lookup ./../this this)}}</td>
		{{else}}
		<td>{{{lookup ./../this this}}}</td>
		{{/if_eq}}

		{{/each}}
	</tr>
	{{/each}}
</tbody>