<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		{{#each salaryShownProcessed.salaryTable.header}}
		<th>{{{this}}}</th>
		{{/each}}
	</tr>
</thead>
<tbody>
	{{#each salaryShownProcessed.salaryTable.table}}
	<tr>
		{{#each ./../salaryShownProcessed.salaryTable.header}}
		{{#if_eq this 'Fecha'}}
		<td>{{formatDate (lookup ./../this this)}}</td>
		{{else}}
		<td>{{{lookup ./../this this}}}</td>
		{{/if_eq}}

		{{/each}}
	</tr>
	{{/each}}
</tbody>