<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th></th>
		<th>Acciones</th>
		<th>Fecha</th>
		<th>Importe</th>
		<th>Concepto</th>
		<th>Categoría</th>
		<th>Subgrupo</th>
		<th>Observación</th>
	</tr>
</thead>
<tbody>
	{{#each cashflow}}
	<tr>
		<td>
			{{#if_eq group 'General'}}<a class="on-default"><i class="fa fa-globe"></i></a>{{/if_eq}}
			{{#if_eq group 'Vivienda'}}<a class="on-default"><i class="fa fa-home"></i></a>{{/if_eq}}
			{{#if_eq group 'Vehículo'}}<a class="on-default"><i class="fa fa-globe"></i></a>{{/if_eq}}
		</td>
		<td class="actions">
			<a class="on-default edit-row" onclick="getCopyData('{{../tab}}', '{{_id}}')"><i
					class="far fa-copy"></i></a>
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{formatDate date}}</td>
		<td>{{currency amount}}</td>
		<td>{{concept}}</td>
		<td>{{category}}</td>
		<td>{{subgroup}}</td>
		<td>{{observation}}</td>
	</tr>
	{{/each}}
</tbody>