<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th>Acciones</th>
		<th>Prioridad</th>
		<th>Tipo</th>
		<th>Categoría</th>
		<th>Concepto</th>
		<th>Periodo (meses)</th>
		<th>Fecha inicio</th>
		<th>Fecha fin</th>
		<th>Estado</th>
	</tr>
</thead>
<tbody>
	{{#each periodicAlerts}}
	<tr>
		<td class="actions">
			<a class="on-default edit-row" onclick="getCopyData('{{_id}}')"><i
					class="far fa-copy"></i></a>
			<a class="on-default edit-row" onclick="getEditData('{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{priority}}</td>
		<td>{{type}}</td>
		<td>{{category}}</td>
		<td>{{concept}}</td>
		<td>{{period}} {{#if_eq period 1}} mes {{else}} meses {{/if_eq}}</td>
		<td>{{formatDate startDate}}</td>
		<td>{{#if endDate}}{{formatDate endDate}}{{/if}}</td>
		<td>{{status}}</td>
	</tr>
	{{/each}}
</tbody>