<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		{{#each summary.header}}
		<th>{{this}}</th>
		{{/each}}
	</tr>
</thead>
<tbody>
	{{#each summary.table}}
	<tr class="{{Clasificacion}}">
		{{#each ./../summary.header}}
		<td>{{currency (lookup ./../this this)}}</td>
		{{/each}}
	</tr>
	{{/each}}
</tbody>