<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li {{#if_eq tab 'notes'}} class="active" {{/if_eq}}>
				<a href="/annotations/annotation/notes" class="text-center"><i class="fa fa-sticky-note"></i>
					{{#if_eq deviceType 'phone'}} Notas {{else}} Notas {{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'schedule'}} class="active" {{/if_eq}}>
				<a href="/annotations/annotation/schedule" class="text-center"><i class="fa fa-calendar-alt"></i>
					{{#if_eq deviceType 'phone'}} Agenda{{else}} Agenda{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'tasks'}} class="active" {{/if_eq}}>
				<a href="/annotations/annotation/tasks" class="text-center"><i class="fa fa-tasks"></i>
					{{#if_eq deviceType 'phone'}} Tareas{{else}} Tareas{{/if_eq}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active">
				<div>
					<div class="mb-md">
						<button id="addToTable" class="btn btn-info" onclick="getAddData('{{tab}}')"><i
								class="fa fa-plus"></i></button>
					</div>
					<div class="mb-none" style="text-align: center;">
						<div class="lds-ellipsis">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
					<table class="table table-bordered table-striped mb-none" id="annotationsDatatable" style="opacity: 0">
					{{#if_eq tab 'notes'}}
					{{> annotations/annotation/tables/note}}
					{{/if_eq}}
					{{#if_eq tab 'schedule'}}
					{{> annotations/annotation/tables/schedule}}
					{{/if_eq}}
					{{#if_eq tab 'tasks'}}
					{{> annotations/annotation/tables/task}}
					{{/if_eq}}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="modal" class="col-md-6 modal" tabindex="-1" role="dialog" aria-labelledby="dataEnterModal"
		aria-hidden="true">
					{{#if_eq tab 'notes'}}
					{{> annotations/annotation/forms/note}}
					{{/if_eq}}
					{{#if_eq tab 'schedule'}}
					{{> annotations/annotation/forms/schedule}}
					{{/if_eq}}
					{{#if_eq tab 'tasks'}}
					{{> annotations/annotation/forms/task}}
					{{/if_eq}}
	</div>
	<div id="modal-backdrop"></div>

	<script> var tab = '{{ tab }}';</script>
	<!-- Specific Page Vendor -->
	<script src="/vendor/select2/select2.js"></script>
	<script src="/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
	<script src="/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
	<script src="/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
	<script src="/vendor/jquery-datatables/helpers_AGP/date-euro.js"></script>
	<script src="/js/annotationsAnnotation.custom.js"></script>