{{#if error}}
<div class="alert alert-danger" {{#unless user}}style="position: absolute;width: inherit;"{{/unless}}>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{error}}
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger" {{#unless user}}style="position: absolute;width: inherit;"{{/unless}}>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{error_msg}}
</div>
{{/if}}

{{#each errors}}
<div class="alert alert-danger" {{#unless user}}style="position: absolute;width: inherit;"{{/unless}}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{text}}
</div>on>
</div>
{{/each}}