<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Menú
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
      data-fire-event="sidebar-left-toggle" onclick="changeDefaultLeftSidebar()">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          {{#if sections.annotations}}<li {{#if_urlStart currentUrl '/annotations'}} class="nav-active" {{/if_urlStart}}>
            <a href="/annotations/annotation/notes">
              <i class="far fa-clipboard" aria-hidden="true"></i>
              <span>Anotaciones</span>
            </a>
          </li>{{/if}}
          {{#if sections.accounting.section}}<li class="nav-parent{{#if_urlStart currentUrl '/accounting'}} nav-expanded {{/if_urlStart}}">
            <a>
              <i class="fas fa-wallet" aria-hidden="true"></i>
              <span>Contabilidad</span>
            </a>
            <ul class="nav nav-children">
              <li {{#if_urlStart currentUrl '/accounting/cashflow'}} class="nav-active" {{/if_urlStart}}>
                <a href="/accounting/cashflow/expensesCashflow">
                  <i class="fas fa-receipt" aria-hidden="true"></i>
                  Ingresos / Gastos
                </a>
              </li>
              {{#if sections.accounting.stock}}<li {{#if_urlStart currentUrl '/accounting/stock'}} class="nav-active" {{/if_urlStart}}>
                <a href="/accounting/stock/general">
                  <i class="fas fa-chart-line" aria-hidden="true"></i>
                  Acciones
                </a>
              </li>{{/if}}
              <li {{#if_urlStart currentUrl '/accounting/graphs'}} class="nav-active" {{/if_urlStart}}>
                <a href="/accounting/graphs/general">
                  <i class="fas fa-chart-pie" aria-hidden="true"></i>
                  Gráficos
                </a>
              </li>
              <li {{#if_urlStart currentUrl '/accounting/summary'}} class="nav-active" {{/if_urlStart}}>
                <a href="/accounting/summary/annualGeneral">
                  <i class="fas fa-table" aria-hidden="true"></i>
                  Tablas resumenes
                </a>
              </li>
              {{#if sections.accounting.details.section}}<li {{#if_urlStart currentUrl '/accounting/details'}} class="nav-active" {{/if_urlStart}}>
                <a href="/accounting/details/salary">
                  <i class="fas fa-info-circle" aria-hidden="true"></i>
                  Detalles
                </a>
              </li>{{/if}}
              <li {{#if_urlStart currentUrl '/accounting/periodicAlerts'}} class="nav-active" {{/if_urlStart}}>
                <a href="/accounting/periodicAlerts">
                  <i class="fas fa-stopwatch" aria-hidden="true"></i>
                  Avisos periódicos
                </a>
              </li>
              <li {{#if_urlStart currentUrl '/accounting/dropdowns'}} class="nav-active" {{/if_urlStart}}>
                <a href="/accounting/dropdowns">
                  <i class="far fa-caret-square-down" aria-hidden="true"></i>
                  Desplegables
                </a>
              </li>
            </ul>
          </li>{{/if}}
          {{#if sections.inventory}}<li class="nav-parent {{#if_urlStart currentUrl '/inventory'}} nav-expanded {{/if_urlStart}}">
            <a>
              <i class="fa fa-tasks" aria-hidden="true"></i>
              <span>Inventario</span>
            </a>
            <ul class="nav nav-children">
              <li {{#if_urlStart currentUrl '/inventory/element'}} class="nav-active" {{/if_urlStart}}>
                <a href="/inventory/element/table">
                  <i class="fas fa-boxes" aria-hidden="true"></i>
                  Tablas
                </a>
              </li>
              <li {{#if_urlStart currentUrl '/inventory/dropdowns'}} class="nav-active" {{/if_urlStart}}>
                <a href="/inventory/dropdowns/place">
                  <i class="far fa-caret-square-down" aria-hidden="true"></i>
                  Desplegables
                </a>
              </li>
            </ul>
          </li>{{/if}}
          {{#if sections.trips}}<li class="nav-parent {{#if_urlStart currentUrl '/trips'}} nav-expanded {{/if_urlStart}}">
            <a>
              <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
              <span>Viajes</span>
            </a>
            <ul class="nav nav-children">
              <li {{#if_urlStart currentUrl '/trips/maps'}} class="nav-active" {{/if_urlStart}}>
                <a href="/trips/maps/world">
                  <i class="fas fa-map" aria-hidden="true"></i>
                  Mapa
                </a>
              </li>
              <li {{#if_urlStart currentUrl '/trips/tables/trip'}} class="nav-active" {{/if_urlStart}}>
                <a href="/trips/tables/trip">
                  <i class="fas fa-map-signs" aria-hidden="true"></i>
                  Tabla
                </a>
              </li>
            </ul>
          </li>{{/if}}
        </ul>
      </nav>

    </div>

  </div>

</aside>

<script> var sectionsArray = JSON.parse('{{{json sections }}}');	</script>