{{#if success_msg}}
<div class="alert alert-success" {{#unless user}}style="position: absolute;width: inherit;"{{/unless}}>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{success_msg}}
</div>
{{/if}}