<header class="header">
  <div class="logo-container">
    <a href="{{initialUrl}}" class="logo">
      <img src="/img/apk_name.png" height="35" alt="JSOFT Admin" />
    </a>
    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
      data-fire-event="sidebar-left-opened" onclick="closeRightSidebar()">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="header-right">

    <ul class="notifications">
      {{#if (array_lenght currentAlerts.tasks)}}<li>
        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
          <i class="fa fa-tasks"></i>
          <span class="badge">{{array_lenght currentAlerts.tasks}}</span>
        </a>

        <div class="dropdown-menu notification-menu large">
          <div class="notification-title">
            <span class="pull-right label label-default">{{array_lenght currentAlerts.tasks}}</span>
            Avisos tareas
          </div>
          <div class="content">
            <ul>
              {{#each currentAlerts.tasks}}
              <li>
                <a href="#" class="clearfix">
                  <span class="title">{{title}}</span>
                  <span class="message">{{{text}}}</span>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>

        </div>
      </li>{{/if}}
      {{#if (array_lenght currentAlerts.schedule)}}<li>
        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
          <i class="fa fa-calendar-alt"></i>
          <span class="badge">{{array_lenght currentAlerts.schedule}}</span>
        </a>

        <div class="dropdown-menu notification-menu large">
          <div class="notification-title">
            <span class="pull-right label label-default">{{array_lenght currentAlerts.schedule}}</span>
            Avisos agenda
          </div>
          <div class="content">
            <ul>
              {{#each currentAlerts.schedule}}
              <li>
                <a href="#" class="clearfix">
                  <span class="title">{{title}}</span>
                  <span class="message">{{{text}}}</span>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>

        </div>
      </li>{{/if}}
      {{#if (array_lenght currentAlerts.periodicAlerts)}}<li>
        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
          <i class="fa fa-euro-sign"></i>
          <span class="badge">{{array_lenght currentAlerts.periodicAlerts}}</span>
        </a>

        <div class="dropdown-menu notification-menu">
          <div class="notification-title">
            <span class="pull-right label label-default">{{array_lenght currentAlerts.periodicAlerts}}</span>
            Avisos importes periodicos
          </div>

          <div class="content">
            <ul>
              {{#each currentAlerts.periodicAlerts}}
              <li>
                <a href="#" class="clearfix">
                  <span class="title">{{title}}</span>
                  <span class="message">{{{text}}}</span>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
      </li>{{/if}}
      {{#if (array_lenght currentAlerts.trips)}}<li>
        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
          <i class="fa fa-plane"></i>
          <span class="badge">{{array_lenght currentAlerts.trips}}</span>
        </a>

        <div class="dropdown-menu notification-menu">
          <div class="notification-title">
            <span class="pull-right label label-default">{{array_lenght currentAlerts.trips}}</span>
            Viajes programados
          </div>
          <div class="content">
            <ul>
              {{#each currentAlerts.trips}}
              <li>
                <a href="#" class="clearfix">
                  <span class="title">{{title}}</span>
                  <span class="message">{{{text}}}</span>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </li>{{/if}}
    </ul>

    <span class="separator"></span>

    <div id="userbox" class="userbox">
      <a href="#" class="sidebar-right-toggle" data-open="sidebar-right" onclick="changeDefaultRightSidebar('sidebar')">
        <div class="profile-info">
          <span class="name">{{user.name}} {{user.surname}}</span>
          <span class="role">{{#if user.administrator}} Administrador {{else}} Usuario {{/if}}</span>
        </div>

        <i class="fa custom-caret"></i>
      </a>

      <!--div class="dropdown-menu">
        <ul class="list-unstyled">
          <li class="divider"></li>
          <li>
            <a role="menuitem" tabindex="-1" href="/users/profile"><i class="fa fa-user"></i> My Profile</a>
          </li>
          <li>
            <a role="menuitem" tabindex="-1" href="/users/logout"><i class="fa fa-power-off"></i> Logout</a>
          </li>
        </ul>
      </div-->
    </div>
  </div>

</header>