<header class="page-header">
	<h2>{{dashboard}}</h2>
	{{#if_includes tab 'Cashflow'}}<button id="lastBankUpdate" class="btn btn-primary" onclick="updateBankCheck()">{{#if_eq deviceType 'phone'}} <strong id="lastBankUpdateDate">{{formatDate lastBankUpdate}}</strong> {{else}} Actualización con banco <strong id="lastBankUpdateDate">{{formatDate lastBankUpdate}}</strong> {{/if_eq}} <i class="fas fa-sync"></i></button>{{/if_includes}}
	<!--div class="right-wrapper pull-right">
		<ol class="breadcrumbs">
			<li>
				<a href="{{initialUrl}}">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li><span>Categoría</span></li>
			<li><span>Grupo</span></li>
		</ol>

	</div-->
</header>