<aside id="sidebar-right" class="sidebar-right">
  <div class="nano has-scrollbar">
    <div class="nano-content" tabindex="0" style="right: -17px;">
      <a href="#" class="mobile-close visible-xs">
        Ocultar <i class="fa fa-chevron-right"></i>
      </a>
      <div class="sidebar-right-wrapper">
        <div class="toggle" data-plugin-toggle="">
          <div style="padding: 10px">
            <button type="button" class="btn btn-block" onclick="logout()">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </button>
          </div>

          <section class="toggle {{#if sidebarRight.userData}}active{{/if}}">
            <label onclick="changeDefaultRightSidebar('userData')">Cambiar datos de usuario</label>
            <div class="toggle-content" style="display: none;">
              {{>general/userDataForm}}
              <p></p>
            </div>
          </section>
          <div style="padding: 10px">
            <button id="changePwd" type="button" class="btn btn-block" onclick="changePwd()">
              </span> Cambiar contraseña
            </button>
          </div>
          <section class="toggle {{#if sidebarRight.sections}}active{{/if}}">
            <label onclick="changeDefaultRightSidebar('sections')">Cambiar secciones a mostrar</label>
            <div class="toggle-content">
              {{>general/shownSections}}
              <p></p>
            </div>
          </section>
          {{#if user.administrator}}
          <div style="padding: 10px">
            <button id="enableSignUp" type="button" class="btn btn-block" onclick="toggleEnabledSignUp()">
              </span> {{#if signUpEnabled}}Deshabilitar Registro{{else}}Habilitar registro{{/if}}
            </button>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="nano-pane" style="display: none; opacity: 1; visibility: visible;">
      <div class="nano-slider" style="height: 903px; transform: translate(0px, 0px);"></div>
    </div>
  </div>
</aside>