<form id="modal-form" action="/accounting/stock/add/{{tab}}" method="POST" class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times" onclick="closeModal()"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Añadir</span> Movimiento</h2>
		</header>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Subgrupo <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="subgroup" class="form-control multiselect" name="subgroup" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						<option value="Compra">Compra</option>
						<option value="Venta">Venta</option>
						<option value="Dividendos">Dividendos</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Entidad <span class="required">*</span></label>
				<div class="col-sm-9">
					<select id="entity" class="form-control multiselect" name="entity" data-plugin-multiselect
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' required>
						<option></option>
						{{#each entity}}
						<option value="{{entity}}">{{entity}}</option>
						{{/each}}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-calendar-alt"></i>
						</span>
						<input id="date" type="text" name="date" data-plugin-datepicker data-plugin-masked-input
							data-plugin-skin="primary" data-input-mask="99/99/9999" placeholder="__/__/____"
							class="form-control" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Importe <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="amount" type="number" step="0.001" name="amount" class="form-control" placeholder=""
							required>
						<span class="input-group-addon">
							<span class="icon">€</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Nº Acciones <span class="required">*</span></label>
				<div class="col-sm-9">
					<div class="input-group input-group-icon">
						<input id="stockNumber" type="number" step="1" name="stockNumber" class="form-control" placeholder=""
							required>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">Observación</label>
				<div class="col-sm-9">
					<textarea id="observation" name="observation" rows="5" class="form-control"
						placeholder=""></textarea>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default" onclick="getAddData('{{tab}}')">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>