<form id="modal-form-filter" action="/accounting/stock/filter/{{tab}}" method="POST"
	class="form-horizontal modal-dialog" onsubmit="return checkSubmit();">
	<section class="panel">
		<header class="panel-heading">
			<div class="panel-close">
				<a href="#" class="fa fa-times"
					onclick="closeModalFilter(); $('select.multiselect option').removeAttr('selected'); $('.specificDates, .betweenDates').css('display', 'block');"></a>
			</div>
			<h2 class="panel-title"><span id="formAction">Flitrar</span></h2>
		</header>
		<div class="panel-body">
			<div class="form-group" >
				<label class="col-sm-3 control-label">Entidad</label>
				<div class="col-sm-9">
					<select id="entityFilter" class="form-control multiselect" name="entityFilter" data-plugin-multiselect
						multiple
						data-plugin-options='{ "enableCaseInsensitiveFiltering": true, "includeSelectAllOption": true }'>
						{{#each usedEntities}}
						<option value="{{entityUsed}}"
							{{#if_inArray ../globalFilterArray.entity entityUsed}} selected {{/if_inArray}}>{{entityUsed}}
						</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-group mr-none ml-none mb-none betweenDates">
				<div class="form-group">
					<label class="col-sm-3 control-label">Fecha inicio</label>
					<div class="col-sm-9">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-calendar-alt"></i>
							</span>
							<input id="startDateFilter" type="text" name="startDateFilter" data-plugin-datepicker
								data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____"
								data-plugin-options='{"format": "dd/mm/yyyy"}' data-plugin-skin="primary"
								class="form-control" value="{{globalFilterArray.startDate}}">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Fecha final</label>
					<div class="col-sm-9">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-calendar-alt"></i>
							</span>
							<input id="endDateFilter" type="text" name="endDateFilter" data-plugin-datepicker
								data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____"
								data-plugin-options='{"format": "dd/mm/yyyy"}' data-plugin-skin="primary"
								class="form-control" value="{{globalFilterArray.endDate}}">
						</div>
					</div>
				</div>
				<div class="form-group"></div>
				<!-- Necesario porque segun en el tema css el ultimo del form-group no tiene margen inferior -->
			</div>
			<div class="form-group mr-none ml-none mb-none specificDates">
				<div class="form-group">
					<label class="col-sm-3 control-label">Mes</label>
					<div class="col-sm-9">
						<select id="monthFilter" class="form-control multiselect" name="monthFilter"
							data-plugin-multiselect multiple
							data-plugin-options='{ "enableCaseInsensitiveFiltering": true, "includeSelectAllOption": true }'>
							{{#each globalMonthsArray}}
							<option value="{{number}}" {{#if_inArray ../globalFilterArray.monthDate number}} selected
								{{/if_inArray}}>{{name}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Año</label>
					<div class="col-sm-9">
						<select id="yearFilter" class="form-control multiselect" name="yearFilter"
							data-plugin-multiselect multiple
							data-plugin-options='{ "enableCaseInsensitiveFiltering": true, "includeSelectAllOption": true }'>
							{{#each year}}
							<option value="{{year}}" {{#if_inArray ../globalFilterArray.yearDate year}} selected
								{{/if_inArray}}>{{year}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group"></div>
					<!-- Necesario porque segun en el tema css el ultimo del form-group no tiene margen inferior -->
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					<button class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default"
						onclick="$('select.multiselect').multiselect('deselectAll', false).multiselect('refresh');$('select.multiselect option').removeAttr('selected');  $('.specificDates, .betweenDates').css('display', 'block');">Reset</button>
				</div>
			</div>
		</footer>
	</section>
</form>