<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th>Prioridad</th>
		<th>Acciones</th>
		<th>Título</th>
		<th>Descripción</th>	
	</tr>
</thead>
<tbody>
	{{#each note}}
	<tr>
		<td>{{priority}}</td>
		<td class="actions">
			<a class="on-default edit-row" onclick="getCopyData('{{../tab}}', '{{_id}}')"><i
					class="far fa-copy"></i></a>
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{title}}</td>
		<td>{{description}}</td>
	</tr>
	{{/each}}
</tbody>