<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th>Acciones</th>
		<th>Lugar</th>
	</tr>
</thead>
<tbody>
	{{#each place}}
	<tr>
		<td class="actions">
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{place}}</td>
	</tr>
	{{/each}}
</tbody>