<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li {{#if_eq tab 'place'}} class="active" {{/if_eq}}>
				<a href="/inventory/dropdowns/place" class="text-center"><i class="fa fa-sitemap"></i>
					{{#if_eq deviceType 'phone'}} Lugares{{else}} Lugares{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'type'}} class="active" {{/if_eq}}>
				<a href="/inventory/dropdowns/type" class="text-center"><i class="fa fa-home"></i>
					{{#if_eq deviceType 'phone'}}Tipos{{else}} Tipos{{/if_eq}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-panel active">

				<div class="mb-md">
					<button id="addToTable" class="btn btn-primary" onclick="getAddData('{{tab}}')">Añadir <i
							class="fa fa-plus"></i></button>
				</div>
				<div class="mb-none" style="text-align: center;">
					<div class="lds-ellipsis">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<table class="table table-bordered table-striped mb-none" id="dropdownDatatable" style="opacity: 0">
					{{#if_eq tab 'place'}}
					{{> inventory/dropdowns/tables/place}}
					{{/if_eq}}
					{{#if_eq tab 'type'}}
					{{> inventory/dropdowns/tables/type}}
					{{/if_eq}}
				</table>
			</div>
		</div>
	</div>
</div>
<div id="modal" class="col-md-6 modal" tabindex="-1" role="dialog" aria-labelledby="dataEnterModal" aria-hidden="true">
	{{#if_eq tab 'place'}}
	{{> inventory/dropdowns/forms/place}}
	{{/if_eq}}
	{{#if_eq tab 'type'}}
	{{> inventory/dropdowns/forms/type}}
	{{/if_eq}}
</div>
<div id="modal-backdrop"></div>



<!-- Specific Page Vendor -->
<script src="/vendor/select2/select2.js"></script>
<script src="/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
<script src="/vendor/jquery-datatables/helpers_AGP/date-euro.js"></script>
<script src="/js/inventoryDropdowns.custom.js"></script>