<!doctype html>
<html
	class="fixed {{#if sidebarCollapsed}}sidebar-left-collapsed{{/if}} {{#if sidebarRight.sidebar}} sidebar-right-opened {{/if}}">

<head>

	<!-- Basic -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>AGPdiario</title>
	<link rel="shortcut icon" type="image/png" href="/img/favicon.ico">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap_v3.3.0.css" />
	<!--link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap_v4.4.1.css" /-->
	<link rel="stylesheet" href="/vendor/font-awesome/css/all_v5.11.2.css" />
	<link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css" />
	<link rel="stylesheet" href="/vendor/bootstrap-datepicker/css/datepicker3.css" />

	<!-- Specific Page Vendor CSS -->
	<link rel="stylesheet" href="/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
	<link rel="stylesheet" href="/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
	<link rel="stylesheet" href="/vendor/morris/morris.css" />
	<link rel="stylesheet" href="/vendor/select2/select2.css" />
	<link rel="stylesheet" href="/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
	<link rel="stylesheet" href="/vendor/jvectormap/custom_trips.css" />
	<link rel="stylesheet" href="/vendor/jvectormap/jquery-jvectormap-2.0.3.css" />
	<!-- Theme CSS -->
	<link rel="stylesheet" href="/css/theme.css" />

	<!-- Skin CSS -->
	<link rel="stylesheet" href="/css/skins/default.css" />

	<!-- Boostap corrections CSS -->
	<link rel="stylesheet" href="/css/boostrap_corrections.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="/css/theme-custom.css">

	<!-- Head Libs -->
	<script src="/vendor/modernizr/modernizr.js"></script> <!-- NECESARIO EN EL HEADER, SI NO NO FUNCIONA-->
	<script src="/vendor/jquery/jquery.js"></script> <!-- NECESARIO EN EL HEADER, SI NO NO FUNCIONA-->

</head>

<body>
	<section class="body">
		{{#if user}}
		{{> navbar }}

		<div class="inner-wrapper">

			{{> leftSidebar }}
			{{> rightSidebar }}
			{{> pageHeader }}
			<section role="main" class="content-body" style="padding: 0px;">

				{{> errors }}
				{{> messages }}

			</section>
			<section role="main" class="content-body">

				{{{ body }}}

			</section>

		</div>
		{{else}}
		{{> errors }}
		{{> messages }}
		{{{ body }}}
		{{/if}}

	</section>

	<!-- Vendor -->
	<script src="/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.js"></script>
	<script src="/vendor/nanoscroller/nanoscroller.js"></script>
	<script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>

	<script src="/vendor/magnific-popup/magnific-popup.js"></script>
	<script src="/vendor/jquery-placeholder/jquery.placeholder.js"></script>
	<script src="/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
	<script src="/vendor/sweetalert2/sweetalert2.all.min.js"></script>
	<script src="/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
	<script src="/vendor/select2/select2.js"></script>

	<!-- Specific Page Vendor -->
	<script src="/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
	<script src="/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
	<script src="/vendor/jquery-appear/jquery.appear.js"></script>
	<script src="/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
	<script src="/vendor/flot/jquery.flot.js"></script>
	<script src="/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
	<script src="/vendor/flot/jquery.flot.pie.js"></script>
	<script src="/vendor/flot/jquery.flot.categories.js"></script>
	<script src="/vendor/flot/jquery.flot.resize.js"></script>
	<script src="/vendor/jquery-sparkline/jquery.sparkline.js"></script>
	<script src='/vendor/moment-js/moment.min.js'></script>
	<script src='/vendor/moment-js/moment-with-locales.min.js'></script>
	<script src='/vendor/moment-js/datetime-moment.js'></script>
	<script src='/vendor/datatables/formated_sorting.js'></script>
	<!--script src="/vendor/raphael/raphael.js"></script>
	<script src="/vendor/morris/morris.js"></script>
	<script src="/vendor/gauge/gauge.js"></script>
	<script src="/vendor/snap-svg/snap.svg.js"></script>
	<script src="/vendor/liquid-meter/liquid.meter.js"></script-->

	<!-- Theme Base, Components and Settings -->
	<script src="/js/theme.js"></script>

	<!-- Theme Custom -->
	<script src="/js/theme.custom.js"></script>

	<!-- Theme Extensions -->
	<script src="/js/theme.admin.extension.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/js/theme.init.js"></script>

	<!-- General scripts -->
	<script src="/js/general.js"></script>

</body>

</html>