<div class="col-md-12 p-none pt-xs">
	<div class="tabs">
		<ul class="nav nav-tabs">
			<li {{#if_eq tab 'world'}} class="active" {{/if_eq}}>
				<a href="/trips/maps/world" class="text-center"><i class="fa fa-globe"></i>
					{{#if_eq deviceType 'phone'}} M{{else}} Mundial{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'es'}} class="active" {{/if_eq}}>
				<a href="/trips/maps/es" class="text-center"><i class="fa fa-sun"></i>
					{{#if_eq deviceType 'phone'}} ES{{else}} España{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'europe'}} class="active" {{/if_eq}}>
				<a href="/trips/maps/europe" class="text-center"><i class="fa fa-globe-europe"></i>
					{{#if_eq deviceType 'phone'}} EU{{else}} Europa{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'asia'}} class="active" {{/if_eq}}>
				<a href="/trips/maps/asia" class="text-center"><i class="fa fa-globe-asia"></i>
					{{#if_eq deviceType 'phone'}} AS{{else}} Asia{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'africa'}} class="active" {{/if_eq}}>
				<a href="/trips/maps/africa" class="text-center"><i class="fa fa-globe-africa"></i>
					{{#if_eq deviceType 'phone'}} AF{{else}} África{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'north_america'}} class="active" {{/if_eq}}>
				<a href="/trips/maps/north_america" class="text-center"><i class="fa fa-globe-americas"></i>
					{{#if_eq deviceType 'phone'}} NA{{else}} América del norte{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'south_america'}} class="active" {{/if_eq}}>
				<a href="/trips/maps/south_america" class="text-center"><i class="fa fa-globe-americas"></i>
					{{#if_eq deviceType 'phone'}} SA{{else}} América del sur{{/if_eq}}</a>
			</li>
			<li {{#if_eq tab 'oceania'}} class="active" {{/if_eq}}>
				<a href="/trips/maps/oceania" class="text-center"><i class="fa fa-water"></i>
					{{#if_eq deviceType 'phone'}} OC{{else}} Oceanía{{/if_eq}}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-panel active">

				<div class="card-header py-3">
					<h3 class="m-0 font-weight-bold text-primary">Países que <span style="color: #226E01;"> he estado
							viviendo </span> , <span style="color: #85E3D6;"> tengo viajes programados </span>,<span
							style="color: #329E56;"> he visitado </span> y/o <span style="color: #FFC202;"> he trabajado
						</span></h3>
				</div>
				<div class="card-body" id="trips-car-body">
					<div class="row" style="margin-top: 0px; text-align: center;">
						<div id="world-map" class="col-md-12 col-sm-12 col-xs-12"
							style="height: 70vh; position: relative; overflow: hidden;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Specific Page Vendor -->
<script> var markers = JSON.parse('{{{json markers }}}');
	var countries = JSON.parse('{{{ json countries }}}');
	var map = '{{tab}}';</script>
<script src="/js/tripsMaps.custom.js"></script>
<script src='/vendor/jvectormap/jquery-jvectormap-2.0.4.min.js'></script>
<script src='/vendor/jvectormap/maps/jVectorMap-World-Continents.js'></script>;
<script src='/vendor/jvectormap/maps/jVectorMap-World-Countries.js'></script>
<script src='/vendor/jvectormap/maps/jVectorMap-Africa-Countries.js'></script>
<script src='/vendor/jvectormap/maps/jVectorMap-Asia-Countries.js'></script>
<script src='/vendor/jvectormap/maps/jVectorMap-Europe-Countries.js'></script>
<script src='/vendor/jvectormap/maps/jVectorMap-NorthAmerica-Countries.js'></script>
<script src='/vendor/jvectormap/maps/jVectorMap-Oceania-Countries.js'></script>
<script src='/vendor/jvectormap/maps/jVectorMap-SouthAmerica-Countries.js'></script>
<script src='/vendor/jvectormap/maps/jVectorMap-Spain-Provinces.js'></script>