<section class="body-sign" style="height: unset;">
	<div class="center-sign">
		<a href="/" class="logo pull-left">
			<img src="/img/logo.png" height="54" alt="AGPdiario logo" />
		</a>

		<div class="panel panel-sign">
			<div class="panel-title-sign mt-xl text-right">
				<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>
			</div>
			<div class="panel-body">
				<form action="/users/saveNewPassword" method="POST" onsubmit="return checkSubmit();">
					<div class="form-group mb-none">
						<div class="col-sm-12 mb-lg">
							<label>Current pasword</label>
							<input id="password" name="password" type="password" class="form-control input-lg" required />
						</div>
					</div>
					<div class="form-group mb-none">
						<div class="col-sm-12 mb-lg">
							<label>New Password</label>
							<input id="passwordNew" name="passwordNew" type="password" class="form-control input-lg" required />

						</div>
					</div>
					<div class="form-group mb-none">
						<div class="col-sm-12 mb-lg">
							<label>New Password Confirmation</label>
							<input id="passwordNew2" name="passwordNew2" type="password" class="form-control input-lg"
								required />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-8">
							<div class="checkbox-custom checkbox-default">
								<input id="signUpShowPasword" name="ShowPasword" type="checkbox"
									onclick="changePaswordVisibility('changePwd')" />
								<label for="ShowPasword">Show password</label>
							</div>
						</div>
						<div class="col-sm-4 text-right">
							<button type="submit" class="btn btn-primary hidden-xs">Confirm</button>
							<button type="submit"
								class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Confirm</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
