<div class="centered-profile" >
    <div class="card">
        <div class="card-header">
            <h3> Añadir Nota </h3>
        </div>
        <div class="card-body">
            <form action="/users/add" method="POST" onsubmit="return checkSubmit();">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Título" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Descripción"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>