<section class="body-sign">
	<div class="center-sign">
		<a href="/" class="logo pull-left">
			<img src="/img/logo.png" height="54" alt="AGPdiario logo" />
		</a>

		<div class="panel panel-sign">
			<div class="panel-title-sign mt-xl text-right">
				<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> SEND RECOVERY EMAIL</h2>
			</div>
			<div class="panel-body">
				<form action="/users/recoverPwdSendEmail" method="POST" onsubmit="return checkSubmit();">
					<div class="form-group mb-none">
						<div class="col-sm-12 mb-lg">
							<label>email</label>
							<input name="email" type="email" class="form-control input-lg" required />
						</div>
					</div>
										<div class="row">
						<div class="col-sm-8">

						</div>
						<div class="col-sm-4 text-right">
							<button type="submit" class="btn btn-primary hidden-xs">Send email</button>
							<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Send email</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>