{{#if signUpEnabled}}
<section class="body-sign">
	<div class="center-sign">
		<a href="/" class="logo pull-left">
			<img src="/img/logo.png" height="54" alt="AGPdiario logo" />
		</a>

		<div class="panel panel-sign">
			<div class="panel-title-sign mt-xl text-right">
				<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>
			</div>
			<div class="panel-body">
				<form action="/users/signUp" method="POST" onsubmit="return checkSubmit();">
					<div class="form-group mb-none">
						<div class="row">
							<div class="col-sm-6 mb-lg">
								<label>Name</label>
								<input name="name" type="text" class="form-control input-lg" required />
							</div>
							<div class="col-sm-6 mb-lg">
								<label>Surname</label>
								<input name="surname" type="text" class="form-control input-lg" required />
							</div>
						</div>
					</div>
					<div class="form-group mb-none">
						<div class="col-sm-12 mb-lg">
							<label>Username</label>
							<input name="username" type="text" class="form-control input-lg" required />
						</div>
					</div>
					<div class="form-group mb-none">
						<div class="col-sm-12 mb-lg">
							<label>Email</label>
							<input name="email" type="email" class="form-control input-lg" required />
						</div>
					</div>
					<div class="form-group mb-none">
						<div class="row">
							<div class="col-sm-6 mb-lg">
								<label>Password</label>
								<input id="signUpPass" name="password" type="password" class="form-control input-lg" required />
							</div>
							<div class="col-sm-6 mb-lg">
								<label>Password Confirmation</label>
								<input id="signUpPass2" name="confirm_password" type="password" class="form-control input-lg" required />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-8">
							<div class="checkbox-custom checkbox-default">
								<input id="signUpShowPasword" name="ShowPasword" type="checkbox" onclick="changePaswordVisibility('signUp')"/>
								<label for="ShowPasword">Show password</label>
							</div>
						</div>
						<div class="col-sm-4 text-right">
							<button type="submit" class="btn btn-primary hidden-xs">Sign Up</button>
							<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign
								Up</button>
						</div>
					</div>

					<span class="mt-lg mb-lg line-thru text-center text-uppercase">
						<span>or</span>
					</span>

					<p class="text-center">Already have an account? <a href="/users/signIn">Sign In!</a>

				</form>
			</div>
		</div>

		<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All rights reserved. Template by <a
				href="https://colorlib.com">Colorlib</a>.</p>
	</div>
</section>
{{else}}
<h1>EL REGISTRO NO ESTA HABILITADO</h1>
{{/if}}