<section class="body-sign">
	<div class="center-sign">
		<a href="/" class="logo pull-left">
			<img src="/img/logo.png" height="54" alt="AGPdiario logo" />
		</a>

		<div class="panel panel-sign">
			<div class="panel-title-sign mt-xl text-right">
				<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
			</div>
			<div class="panel-body">
				<form action="/users/signIn" method="POST" onsubmit="return checkSubmit();">
					<div class="form-group mb-lg">
						<label>Username</label>
						<div class="input-group input-group-icon">
							<input name="username" type="text" class="form-control input-lg" value="{{email}}"
								required />
							<span class="input-group-addon">
								<span class="icon icon-lg">
									<i class="fa fa-user"></i>
								</span>
							</span>
						</div>
					</div>

					<div class="form-group mb-lg">
						<div class="clearfix">
							<label class="pull-left">Password</label>
							<a href="/users/recoverPwdEmail" class="pull-right">Lost Password?</a>
						</div>
						<div class="input-group input-group-icon">
							<input id="signInPass" name="password" type="password" class="form-control input-lg" value="{{password}}"
								required />
							<span class="input-group-addon">
								<span class="icon icon-lg">
									<i class="fa fa-lock"></i>
								</span>
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-8">
							<div class="checkbox-custom checkbox-default">
								<input id="signInShowPasword" name="ShowPasword" type="checkbox"  onclick="changePaswordVisibility('signIn')"/>
								<label for="ShowPasword">Show password</label>
							</div>
						</div>
						<div class="col-sm-4 text-right">
							<button type="submit" class="btn btn-primary hidden-xs">Sign In</button>
							<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign
								In</button>
						</div>
					</div>

					<span class="mt-lg mb-lg line-thru text-center text-uppercase">
						<span>or</span>
					</span>
					{{#if signUpEnabled}}
					<p class="text-center">Don't have an account yet? <a href="/users/signUp">Sign Up!</a>
					{{else}}
					<p class="text-center">El registro no esta habilitado. Comunicarse con el administrador.
					{{/if}}
				</form>
			</div>
		</div>

		<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All rights reserved. Template by <a
				href="https://colorlib.com">Colorlib</a>.</p>
	</div>
</section>
