<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th></th>
		<th>Acciones</th>
		<th>Tipo</th>
		<th>Categoría</th>
		<th>Concepto</th>
		<th>Subgrupo</th>
	</tr>
</thead>
<tbody>
	{{#each concept}}
	<tr>
		<td class="group-icons">
			{{#if_eq group 'General'}}<a class="on-default"><i class="fa fa-globe"></i></a>{{/if_eq}}
			{{#if_eq group 'Vivienda'}}<a class="on-default"><i class="fa fa-home"></i></a>{{/if_eq}}
			{{#if_eq group 'Vehículo'}}<a class="on-default"><i class="fa fa-globe"></i></a>{{/if_eq}}
		</td>
		<td class="actions">
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{type}}</td>
		<td>{{twoDigits categoryPriority}} → {{category}}</td>
		<td>{{twoDigits conceptPriority}} → {{concept}}</td>
		<td>{{subgroup}}</td>
	</tr>
	{{/each}}
</tbody>