<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th>Acciones</th>
		<th>Entidades</th>
		<th>Cotización actual</th>
		<th>Ultima actualización</th>
	</tr>
</thead>
<tbody>
	{{#each entity}}
	<tr>
		<td class="actions">
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{twoDigits entityPriority}} → {{entity}}</td>
		<td>{{currency3d quotation}}</td>
		<td>{{formatDate modificationDate}}</td>
	</tr>
	{{/each}}
</tbody>