<!-- Theme datatables CSS -->
<link rel="stylesheet" href="/css/datatables_agp.css" />
<thead>
	<tr>
		<th>Acciones</th>
		<th>Descripción del vehículo</th>
		<th>Tipo</th>
		<th>En propiedad</th>
	</tr>
</thead>
<tbody>
	{{#each vehicle}}
	<tr>
		<td class="actions">
			<a class="on-default edit-row" onclick="getEditData('{{../tab}}', '{{_id}}')"><i
					class="fa fa-pencil-alt"></i></a>
			<a class="on-default remove-row" onclick="deleteData('{{../tab}}', '{{_id}}')"><i
					class="fas fa-trash-alt"></i></a>
		</td>
		<td>{{twoDigits vehiclePriority}} → {{description}}</td>
		<td>{{vehicleType}}</td>
		<td>{{#if_eq inOwnership 'true'}}Sí{{else}}No{{/if_eq}}</td>
	</tr>
	{{/each}}
</tbody>